@{
    ViewData["Failed"] = "Failed Page";
}

<div class="card text-center" style="width: 300px; margin: auto; margin-top: 100px;">
    <div class="card-header h5 text-white bg-primary">Login Failed</div>
    <div class="card-body px-5">
        <a href="/Auth/ForgotPassword" class="btn btn-warning w-100">Forgot password</a>
        <br>
        <br>
        <a href="/Auth/login" class="btn btn-info w-100">Try Login Again!</a>
        <div class="d-flex justify-content-between mt-4">
        </div>
    </div>
</div>