@using BLL;
@{
    ViewData["Home"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Transflower Pvt. Ltd.</h1>
    <br>
    <h3 class="display-6">This is Management Information System</h3>
</div>