@{
    ViewData["About us"] = "About Us";
}
<style>
    p {
        font-size: larger;
        color: gray;
    }
    #image:hover{
        scale:1.1
    }

</style>

<div class="text-center">
    <h2>About us</h2>
    <p class="text-wrap" style="text-align: center; width: 500px; margin-left: 27.5%;">This is Sample Application created to understand 
        the basics of ASP .NET 7.0 MVN(Model View Controller)</p>
    <img src="https://avatars.githubusercontent.com/u/121015119?v=4" id="image" onclick="window.location.href='https://github.com/waghdurgesh'"
        style="width: 200px; height: 200ppx;border: 2px solid yellow; border-radius: 125px;">
        <br>
        <br>
        <img src="https://www.shareicon.net/data/256x256/2015/09/09/98475_logo_512x512.png" id="image" onclick="window.location.href='https://in.linkedin.com/in/durgeshwagh'"
        style="width: 50px; height: 50px;">
        <img src="https://www.shareicon.net/data/128x128/2016/02/22/722947_email_512x512.png" id="image" onclick="window.location.href='https://gmail.com'"
        style="width: 50px; height: 50px;">
        <img src="https://www.shareicon.net/data/128x128/2015/09/03/95548_logo_512x512.png" id="image" onclick="window.location.href='https://github.com/waghdurgesh'"
        style="width: 50px; height: 50px;">
    <br></br>
    <p>Developer's Profile <a href=" https://github.com/waghdurgesh " target="_blank">Durgesh Wagh</a>😊</p>
</div>