@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6" style="font-weight: bold;color: gray;">Welcome to Github Profile Viewer</h1>
    
</div>
<br>
<div class="card" style="width: 15rem; float: left;margin: 10px; border: 2px dashed grey;">
  <img class="card-img-top" src="/img/insert.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Insert</h5>
    <p class="card-text">Register your GitHub Profile on our Portal</p>
    <a href="/home/registration" class="btn btn-primary">Register Profile</a>
  </div>
</div>
<div class="card" style="width: 15rem;margin: 10px;border: 2px dashed grey;">
  <img class="card-img-top" src="/img/list.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">View</h5>
    <p class="card-text">Check your friend's GitHub Profile Listed on our Portal</p>
    <a href="/home/ProfileList" class="btn btn-primary">Open List</a>
  </div>
</div>
