@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6" style="font-weight: bold;color: gray;">Welcome To Learning Management System</h1>
    
</div>
<br>
</div>
<div class="card" style="width: 15rem;margin: 10px;border: 2px dashed grey;">
  @* <img class="card-img-top" src="#" alt="Card image cap"> *@
  <div class="card-body">
    <h5 class="card-title">View Training Topic</h5>
    <p class="card-text">Check Topics Listed on our Portal</p>
    <a href="/Trainer/List" class="btn btn-primary">Open List</a>
  </div>
</div>
